[Unit]
Description=Linky
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
WorkingDirectory=/home/domotik
ExecStart=/usr/bin/python3 /home/domotik/python3-domotik/domotik/main.py
User=domotik
Group=domotik
Restart=on-failure
RestartSec=10s
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
